# Local state files and backups
.terraform.tfstate
.terraform.tfstate.backup

# Module and provider directories
.terraform/

# Sensitive data
*.tfvars
*.tfvars.json

# Execution plan files
*.tfplan

# Log and crash files
*.log
crash.log

# Temporary and lock files
.tfsec/